// mixin flex row
@mixin flexRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// mixin flex column
@mixin flexColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 1rem;
  width: 30%;
  border-radius: 2rem;
  padding: 0 5%;
  height: 75vh;
  z-index: 2;
  &:hover{
    animation: showParticles 0.75s ease-in-out;
    animation-fill-mode:forwards;
  }
}

// mixin fonts h1, p and button for Articles in Discover Section
@mixin DiscoverFonts {
  position: relative;
  transition: all 0.4s ease-in-out;
  color: white;
  h1 {
    font-size: 1.7rem;
    opacity: 0.85;
  }

  h6 {
    font-size: 0.7rem;
    font-weight: 100;
  }

  p {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  button {
    margin-top: 1rem;
    background-color: #4b0055;
    color: white;
    height: 45px;
    width: 200px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: #811d79;
    }
  }

  &:hover {
    background-color: #000000;
  }
}

//
//
// START


#discover-section {
  @include flexRow();
  background-color: #000000;
  width: 100%;
  height: auto;
  margin:auto;
}
#particles{
  z-index: 1;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-container {
  animation: slideArticles 3s ease-in-out;
  transition: 1s all ease;
}

.article-about {
  @include flexColumn();
  @include DiscoverFonts();
  background-color: #1f1137;
  cursor: pointer;
}

.article-history {
  @include flexColumn();
  @include DiscoverFonts();
  background-color: #150c25;
}

.article-mission {
  @include flexColumn();
  @include DiscoverFonts();
  background-color: #0a0612;
}

@keyframes slideArticles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showParticles {
  0% {
    opacity: 1;
  }
  25%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.6;
  }
  75%{
    opacity: 0.6;
  }
  100% {
    opacity: 0.55;
  }
}
