// mixin attributes

// Color Variables

// Flex direction : row
@mixin flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-container {
  @include flexrow();
  position: fixed;
  justify-content: space-between;
  background-color: $black;
  height: 10vh;
  width: 100%;
  padding: 0 25px;
  font-size: 1rem;
  top: 0;
  z-index: 10;
  animation: slideNavBar 1s ease-in-out;
  transition: 1s all ease;
  @media screen and (max-width: 880px) {
  }
}

.logo {
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  @include flexrow();
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 100%;

  li {
    height: 100%;
    width: 19%;
    max-width: 120px;
    min-width: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-left: 1rem;
    font-weight: bold;
    // change hover to active later
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    &:hover {
      border-bottom: 5px solid $orange;
    }
    //
  }

  @media screen and (max-width: 880px) {
    display: none;
  }
}

.sign-in-up,
.sidebar-sign-in-up {
  @include flexrow();
  justify-content: center;
  width: 250px;

  li {
    width: 250px;
    height: 35px;
    margin-left: 0.8rem;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: $white;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      width: 100%;
      height: 100%;
      font-weight: bold;
    }
    &:hover {
      background-color: $black;
      a {
        color: $white;
      }
      transition: 0.5s all ease;
    }
  }

  #sign-in {
    background-color: $orange;
    a {
      color: white;
    }

    &:hover {
      background-color: $black;
      transition: 0.5s all ease;
    }
  }

  @media screen and (max-width: 880px) {
    display: none;
  }
}

.mobile-icon {
  display: none;

  @media screen and (max-width: 880px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 50%;

    &:active {
      background-color: #47464634;
    }
  }
}

@keyframes slideNavBar {
  0% {
    top: -150px;
  }
  100% {
    top: 20;
  }
}
