// mixin attributes

// Color Variables
$white: #ffffff;
$black: #080808;
$agencyblue: #1877f2;
$orange: #710193e7;
$orangina: #af69ef;

// Flex direction : row
@mixin flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-container {
  @include flexrow();
  position: fixed;
  justify-content: space-between;
  background-color: $black;
  height: 10vh;
  width: 100%;
  padding: 0 25px;
  font-size: 1rem;
  top: 0;
  z-index: 10;
  animation: slideNavBar 1s ease-in-out;
  transition: 1s all ease;
  @media screen and (max-width: 830px) {
  }
}

.logo {
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  @include flexrow();
  text-align: center;
  justify-content: space-around;
  width: 400px;
  height: 100%;

  li {
    height: 100%;
    display: flex;
    align-items: center;
    // change hover to active later
    &:hover {
      font-weight: bolder;
      border-bottom: 5px solid $orange;
    }
    //
  }

  @media screen and (max-width: 830px) {
    display: none;
  }
}

.sign-in-up,
.sidebar-sign-in-up {
  @include flexrow();
  justify-content: space-between;
  width: 220px;

  li {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: $white;
    a {
      color: $black;
    }
    &:hover {
      background-color: $black;
      a {
        color: $white;
      }
      transition: 0.5s all ease;
    }
  }

  #sign-in {
    background-color: $orange;
    a {
      color: white;
    }

    &:hover {
      background-color: $black;
      transition: 0.5s all ease;
    }
  }

  @media screen and (max-width: 830px) {
    display: none;
  }
}

.mobile-icon {
  display: none;

  @media screen and (max-width: 830px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 50%;

    &:active {
      background-color: #47464634;
    }
  }
}

@keyframes slideNavBar {
  0% {
    top: -150px;
  }
  100% {
    top: 20;
  }
}
