#discover-section {
  position: relative;
  width: 100%;
}
#discover-list {
  li {
    display: none;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
#Swiper-discover {
  width: 100%;
  height: 91vh;
}

.slides-discover {
  background-color: #080808;
  width: 100%;
}
