.sidebar-container {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: slideSideBar 0.7s ease-in-out;
  transition: 0.7s all ease;
}

.close-icon {
  position: absolute;
  font-size: 1.8rem;
  top: 0;
  right: 0;
  padding: 21px;
  cursor: pointer;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 35%;
  padding-top: 35px;

  a {
    font-size: 1.4rem;
    &:hover {
      color: #af69ef;
    }
    transition: 0.5s all ease-in-out;
  }
}

.sidebar-sign-in-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15%;

  li {
    width: 200px;
    height: 45px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.sidebar-logo {
  font-size: 2.5rem;
}

@keyframes slideSideBar {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}
