@import "_Variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: $white;
  transition: 0.2s all ease-in-out;
}

li {
  list-style: none;
}

.none {
  display: none;
}

.Home {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.39);
}


@import "_NavBar.scss";
@import "_SideBarMenu.scss";
@import "_HeroSection.scss";
@import "_DiscoverSection.scss";
