* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

@import "_NavBar.scss";
@import "_SideBarMenu.scss";
