* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

li {
  list-style: none;
}

.none {
  display: none;
}

.Home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.39);
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #080808;
  height: 10vh;
  width: 100%;
  padding: 0 25px;
  font-size: 1rem;
  top: 0;
  z-index: 10;
  -webkit-animation: slideNavBar 1s ease-in-out;
          animation: slideNavBar 1s ease-in-out;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.logo {
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  height: 100%;
}

.nav-menu li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu li:hover {
  font-weight: bolder;
  border-bottom: 5px solid #710193e7;
}

@media screen and (max-width: 830px) {
  .nav-menu {
    display: none;
  }
}

.sign-in-up,
.sidebar-sign-in-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
}

.sign-in-up li,
.sidebar-sign-in-up li {
  width: 100px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;
}

.sign-in-up li a,
.sidebar-sign-in-up li a {
  color: #080808;
}

.sign-in-up li:hover,
.sidebar-sign-in-up li:hover {
  background-color: #080808;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.sign-in-up li:hover a,
.sidebar-sign-in-up li:hover a {
  color: #ffffff;
}

.sign-in-up #sign-in,
.sidebar-sign-in-up #sign-in {
  background-color: #710193e7;
}

.sign-in-up #sign-in a,
.sidebar-sign-in-up #sign-in a {
  color: white;
}

.sign-in-up #sign-in:hover,
.sidebar-sign-in-up #sign-in:hover {
  background-color: #080808;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media screen and (max-width: 830px) {
  .sign-in-up,
  .sidebar-sign-in-up {
    display: none;
  }
}

.mobile-icon {
  display: none;
}

@media screen and (max-width: 830px) {
  .mobile-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 50%;
  }
  .mobile-icon:active {
    background-color: #47464634;
  }
}

@-webkit-keyframes slideNavBar {
  0% {
    top: -150px;
  }
  100% {
    top: 20;
  }
}

@keyframes slideNavBar {
  0% {
    top: -150px;
  }
  100% {
    top: 20;
  }
}

.sidebar-container {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #080808;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slideSideBar 0.7s ease-in-out;
          animation: slideSideBar 0.7s ease-in-out;
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
}

.close-icon {
  position: absolute;
  font-size: 1.8rem;
  top: 0;
  right: 0;
  padding: 21px;
  cursor: pointer;
}

.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  height: 35%;
  padding-top: 35px;
}

.sidebar-menu a {
  font-size: 1.4rem;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.sidebar-menu a:hover {
  color: #af69ef;
}

.sidebar-sign-in-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 15%;
}

.sidebar-sign-in-up li {
  width: 200px;
  height: 45px;
}

.sidebar-sign-in-up a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.sidebar-logo {
  font-size: 2.5rem;
}

@-webkit-keyframes slideSideBar {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

@keyframes slideSideBar {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1000;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: auto;
  padding: 2rem;
}

.hero-content h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.hero-content p {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
}

.hero-content button {
  margin-top: 1rem;
  color: white;
  width: 200px;
  height: 45px;
  background-color: #080808;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.hero-content button:hover {
  background-color: #480c5a;
}

@media screen and (max-width: 830px) {
  .hero-content {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content button {
    border-radius: 5px;
  }
}
/*# sourceMappingURL=App.css.map */